<div class="container">
  <input class="form-control me-2" type="text" [(ngModel)]="searchText" (keyup)="filterPosts()" placeholder="Buscar por título...">

  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let post of filteredPosts | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
