<div class="container">
  <!-- seach -->
  <div class="row mt-3 mb-3">
    <div class="col">
      <div class="form-group">
        <input class="form-control me-2" type="text" [(ngModel)]="searchText" (input)="filterPosts()" placeholder="Buscar por título...">
      </div>  
    </div>
  </div>
<!-- list -->
  <div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngFor="let post of filteredPosts | paginate: { itemsPerPage: 10, currentPage: p }">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- pagination -->
  <pagination-controls (pageChange)="p = $event" class="pagination" previousLabel="&laquo;" nextLabel="&raquo;"></pagination-controls>
</div>
